   
   
    {{!-- Posts to go here --}}
                <div class="row mt-3" style="background-color: aqua;">
                    <div class="col-md-12"><label class="labels">{{post_title}}</label></div>
                    <div class="col-md-12"><label class="labels">{{post_contents}}</label></div>
                   
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">EDIT</label></div>
                    <div class="col-md-6"><label class="labels">DELETE</label></div>
                </div>
            </div>
        </div>