

  <div class="charity-card container mt-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-10">
          <div class="card" id="charity-card">
            <h4 class="card-header">{{post_title}}</h4>
            <div class="card-body">
              <p class="card-text">
                {{post_contents}}
              </p>
              <p><b>Posted by: </b>{{user.username}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    