<div class="card">
  <h5 class="card-header">{{post_title}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{post_title}}</h5>
    <h5 class="card-title">{{user.username}}</h5>
    <p class="card-text">{{post_contents}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>