
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";


@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


html,

body {
    height: 100%;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}