
<div class="wrapper">
  </div>
  <!-- Section on the right show the pic and name-->
  <div class="about-wrapper">
    <div class="about-left">
      <div class="about-left-content">
        <div>
          <div class="about-img">
            <img src = "Untitled_2_1_0.png" alt = "about image"> -->
            <!--Populating picture here-->
          </div>
        </div>

      </div>

    </div>

    <!-- Section on the left that shows the social media links and introduction -->
    <div class="about-right">
      <!--Populates text for charity -->

      <div class="about-para">
        <!--Populates text for charity -->
      </div>
    </div>
  </div>

  <!-- When used clicks on the nav bar projects ill will scroll to the projects section
            --><div
    id="scroll1"
  >

  </div>
