<br>

<div class="container dashboard-container">
    <div class="row">
        <div class="col">
<div class ="all-h1"> Your posts </div>
<br>
            {{#each posts as |post|}}
            {{>dashboard}}
            {{/each}}
        </div>


        <div class="col">
            <div class="all-h1"> Add a post </div>
            <br>

        
            <div class="col-md-12">Title<input id="title-dash" type="text" class="form-control" placeholder="" value="">
            </div> <br>
            <div class="col-md-12">Post contents<input id="contents-dash" type="text" class="form-control textarea"
                    placeholder="" value=""></div>
            <br>
            <div class="col-md-6"><p class="btn all-btn" id="dashboard-btn">Post</p>
            
            </div>
            <br>
        </div>
    </div>


</div>



<script src="/js/dashboard.js"></script>