<form class="main-form">
    <div class="flex">
        <div class=“charity”>
            <label class=“form-label” id="">Title</label>
            <input type=“text” class="form-control" id="title-dash"/>
        </div>

        <div class="flex">
            <label class=“form-label” id="dashboard-label">Contents</label>
            <input type=“text” class="form-control" id="contents-dash"/>
        </div>

        <button type="submit" class="dashboard-btn" id="dashboard-btn">Submit</button>
    </div>
        

</form>

<script src="/js/dashboard.js"></script>