<form class="main-form">
        <h3 class="form title">Contact Details</h3>

    <div class="forms">
        <div class=“charity”>
            <h4>Charity Name</h4>
            <input type=“text” class="form-control" id="charity-register"/>
            <label class=“form-label”></label>
        </div>

        <div class=“address”>
            <h4>Address</h4>
            <input type=“text” class="form-control" id="address-register"/>
            <label class=“form-label”></label>
        </div>

        <div class=“phone-number”>
            <h4>Phone Number</h4>
            <input type=“text” class="form-control" id="phone-register"/>
            <label class=“form-label”></label>
        </div>

        <div class=facebook>
            <h4>Facebook</h4>
            <input type=“text” class="form-control" id="facebook-register"/>
            <label class=“form-label”></label>
        </div>

        <div class=opening-hour>
            <h4>Opening Hours</h4>
            <input type=“text” class="form-control" id="hour-register"/>
            <label class=“form-label”></label>
        </div>

        <button type="submit" class="btn" id="btn-register">Register</button>
    </div>
        

</form>

<script src="/js/getInvolved.js"></script>