



<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

 <nav class="bg-dark navbar-dark">
  <div class="container">
  </div>
  </nav>
   <section id="header" class="jumbotron text-center">
	
      
     
      <form class="search-input">
                            <input id="searchBar"class="search-form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                            <button id="searchBtn" class="btn btn-outline-success" type="submit">Search</button>
                          </form>

</section>
  
 <div class="jumbotron">
  <h1 class="display-4 text-dark">UK Independant animal chairty</h1>
  <p class="lead text-secondary">Uk leading animal charity, giving you a wide range of chairties to choose from with a wide range of animals.</p>
<a href="#" class="btn btn-md text-center">GET INVOLVED</a>
  </div>
  </div>
  
  







<script src="/js/home.js"></script>
