<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-4">
  <div class ="all-h1">Search for a charity</div>
<div class="search-bar"> 
    <form class="search-input">
      <input
        id="searchBar"
        class="search-form-control me-2"
        type="search"
        placeholder="Search..."
        aria-label="Search"
      />
      <button
        id="searchBtn"
        class="all-btn"
        type="submit"
      >Search</button>
    </form>
  </section>

 
</div>
</div>
</div>
</div>



  <div class="jumbotron">
    <h1 class="display-4 text-dark">UK Independent animal charity</h1>
    <p class="lead text-secondary">UK leading Animal Charity, giving you a wide
      range of charities to choose from with a wide range of animals.</p>
    <a href="get-involved" class="all-btn">Register your charity</a>
  </div>
</div>

<script src="/js/home.js"></script>