

			<div class="col-md-8 offset-md-2 info">
				     <form class="d-flex">
                            <input id="searchBar"class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button id="searchBtn" class="btn btn-outline-success" type="submit">Search</button>
                          </form>
				<h1 class="text-center">Caritas</h1>
				<p class="text-center">
					We are blah blah blah
				</p>
				<a href="#" class="btn btn-md text-center">GET INVOLVED</a>
			</div>
		</div>
	</div>

<script src="/js/home.js"></script>
