

			<div class="col-md-8 offset-md-2 info">
				<h1 class="text-center">Caritas</h1>
				<p class="text-center">
					We are blah blah blah
				</p>
				<a href="#" class="btn btn-md text-center">GET INVOLVED</a>
			</div>
		</div>
	</div>
