

			<div class="col-md-8 offset-md-2 info">
				     <form class="search-input">
                            <input id="searchBar"class="search-form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                            <button id="searchBtn" class="btn btn-outline-success" type="submit">Search</button>
                          </form>
				<h1 class="text-center" id="caritas">Caritas</h1>
				<p class="text-center">
					
				</p>
				<a href="/get-involved" class="btn btn-md text-center">GET INVOLVED</a>

				
			</div>
		</div>
	</div>

<script src="/js/home.js"></script>
