<div class="container-fluid banner" style="background-color:white;">
		<div class="row">
			<div class="col-md-12">
				
			</div>			<div class="col-md-8 offset-md-2 info">
				<h1 class="text-center all-h1">OUR PHILOSOPHY</h1>
				<p class="text-center">
					Our Mission Is To Create A Community Between The General Public And Animal Charities Within Your Local Area. 
				<h5 class = "text-center">A place to receive updates and a forum where you can be informed about animals in care from the charities themselves.</h5>
					<h5 class="text-center">We receive no government funding and our aim is to bring awareness to the devastating raise in animals being putting up for adoption. </h5>

			</div>
		</div>
	</div>

</body>
<div id= Dog card class="container">
	<div class="row g-3">
		<div class="col-12 col-md-6 col-lg-4">
			<div class="card">
				<img src="assets/op-dog.jpeg" class="card-img-top" alt="Dog">
				<div class="card-body">
					<h5 class="card-title">Charities</h5>
					<p class="card-text">View Some of the amazing charities in your local area</p>
					<a href="/all" class="btn all-btn">Charities</a>
				</div>
			</div>
		</div>
		<div id= cat card class="col-12 col-md-6 col-lg-4">
			<div class="card">
				<img src="assets/op-cat.jpeg" class="card-img-top" alt="Cat">
				<div class="card-body">
					<h5 class="card-title">Sign Up for Updates</h5>
					<p class="card-text">Here you can get updates of charities directly to your email</p>
					<a href="/get-involved" class="btn all-btn">Get Involved</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<div class="card">
				<img src="assets/op-parrot.jpeg" class="card-img-top" alt="parrot">
				<div class="card-body">
					<h5 class="card-title">Contact us</h5>
					<p class="card-text">Contact us for any enquires and for other ways you can help.</p>
					<a href="#" class="btn all-btn ">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</div>


