<script type="module" src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h3 class="text-centre mb-3">
                    Charity Search
                </h3>
                <div class="form-group">
                <input type="text" id="search" class="form-control form-control-lg" placeholder="Enter Charity" oninput="handleChange(this)" >
                </div>
                <div id="math-list"></div>
            </div>
        </div>
    </div>

    <script src="/js/test.js"></script>
