body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;
	background-image: url("/assets/Animal.jpeg");
	background-position: 0 auto;

	background-size:cover;
	background-repeat: no-repeat;
}

.navbar{
	margin: 0 auto;
	margin: 0px -13px 0px -13px;
	background-color: rgb(228, 228, 228);
	padding-top: 1px;
	padding-bottom: 1px;
}
.navbar-brand{
	color: #037065;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}
.nav{
	margin-right:10%; 
}
.nav li a{
	color:#037065;
	font-weight: 700;
	font-size: 1.1em;
}

.info{
	margin-top:15%;
	transform: translateY(-15%);
}
.info h1{
	font-size: 2.5em;
	font-weight: 700;
	color:#aaa ;
	letter-spacing: 2px;
}
.info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
 .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: #037065;
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.info a:hover{
	background: #16e1e1;
}


