.main-form{
    padding: 30px;
  width: 50%;
  max-width: 500px;
  text-align: center;
  color: #037065;
  background-color: rgb(228, 228, 228);
  font-size: 20px;
  margin-top: 100px;
  margin-left:470px;
}

.forms{
    margin-bottom: 10px;
}

#get-involved-label {
    text-align: center
};

.form-control{
    width: 150px;
}

#btn-register {
    background-color: #037065;
    color: white;
    margin-top: 10px;
}

label{
    font-weight: 700;
}
