.main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 2px black solid;
    background-color: lightgray;
    max-width: 40%;
    margin-top: 30px;
    box-shadow: black 5px 5px;
    margin-bottom: 100px;
}

.forms{
    margin-bottom: 10px;
}

h4{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #037065;
    margin-top: 10px;
}

.form-control{
    width: 350px;
}

.get-involved-btn {
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-left: 120px;
    background-color: #037065;
    color: white;
    margin-bottom: 10px;
}
